<footer>
    <p>Copyright &#169; UHMC 2020</p>
    <img 
      src="http://maui.hawaii.edu/wp-content/uploads/2021/02/official-seal.jpg" 
      alt="logo" 
      width="610" 
      height="394">
  </footer>
  